/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body {
    height: 100%;
    background-color: #b0bec5;
}
h2 {
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
input {
	border-radius: 0px;

	
}
.input-group-addon {
	border-radius: 0px;
}
.form-pole {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	
	
	background-color: #fff;
	
	
	text-align: center;
	box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.75);
}
.form-control {
	height: 40px;

}

.remember-me {
	font-size: 12px;
	color: gray;
	text-align: left;
}
input [type=checkbox] {
	margin-bottom: 50px;

}
div.input-group {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-top: 20px;
	height: 40px;
}
.glyphicon {
	color: gray;
}
.log-in-btn {
	width: 200px;
	background-color: #66bb6a;
	font-weight: bold;
	color: white;
	margin-bottom: 30px;
}
.log-in-btn:hover {
	background-color: #5aa65d;
	color: white;
}
a.forgoten-pass {
	position: relative;
	display: block;
	clear: both;
	bottom: 10px;
	left: 43px;
	font-size: 12px;
	color: #aaa;
	text-decoration: underline;
	font-style: italic;

}
a.forgoten-pass:hover {
	color: #777;
	font-style: italic;

}

.wrong-log {
	display: none;
	width: 200px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	color: #cf9296;
	background-color: #ffcdd2;
	border-radius: 2px;
	border-top: 2px solid;
	border-bottom: 1px solid;
	padding: 13px 0 13px 0;
}

.modal-content {
	padding: 30px;
}

/*------------------------------------------------*/
/* The Modal */
#own-modal {
	display: none;
  	position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content{
    background-color: #fefefe;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height: 200px;
}


#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}